
// Variables
$main-color: rgb(11, 11, 78);
 $light-color: #f4f4f4;
 $light-color2: #d4c2c2;
 $color-blue: #2f7fe7;
 $dark-color: rgb(3, 3, 14);
 $primary-color: #4a79b6;

 $logo-color: #2a5185;


 
// $bg-image: url('../img/showcase.jpg');